/*=====
==fonts

Define font stacks in the '$namedFontFamilies' section, then create variables named for where they will be used that are set to appropriate stacks in the 'modules' section.  Don't use the '$namedFontFamilies' variables directly.
=====*/
//==named families
$namedFontFamilies: (
	//-! helvetica: "1"
	helvetica: ('Helvetica Neue', Arial, Helvetica, sans-serif)
);

//==modules
$fontFamilies: map-merge($fontFamilies, (
	base: map-get($namedFontFamilies, helvetica),
	//-! bold: map-get($namedFontFamilies, helvetica), //-# if enabled, must enable in 'base/fonts'
	//-! boldItalic: map-get($namedFontFamilies, helvetica), //-# if enabled, must enable in 'base/fonts'.  Should also uncomment lines extending %font-boldItalic in 'base'.
	//-! heading: map-get($namedFontFamilies, helvetica), //-# if enabled, must enable in 'base/fonts'
	//-! italic: map-get($namedFontFamilies, helvetica) //-# if enabled, must enable in 'base/fonts'
));

/*=====
==sizes

Font sizes, named for where they will be used.  Use the `getFontSize($name)` function to get font sizes from `$fontSizes`.
=====*/
$fontSizes: map-merge($fontSizes, (
	root: 10, //-# Root font size for use by `remFallback` mixin. Based on setting font size to 62.5% on the 'html' element, making it 10px if user hasn't changed font size, but it will adjust with users font setting
	base: 16,
	h1: 2em,
	h2: 1.5em,
	h3: 1.17em,
	h4: 1.00em,
	h5: 0.83em,
	h6: 0.67em
));
