//==extendable modules
//--blocks
%block{
	@include remFallback(margin, 0 0 15);
	padding: 0;
}
%responsive{
	height: auto; //-# override height attribute for responsive images
	max-width: 100%; //-# make elements responsive, will scale down with container
}

//--fonts
%font-base{
	font-family: getFont(base);
}
%font-heading{
	font-family: getFont(heading);
}
%fontsize-base{
	@include fontSize(getFontSize(base));
}
