//==blocks
%block{
	@include remFallback(margin, 0 0 15);
	padding: 0;
}
%responsive{
	height: auto; //-# override height attribute for responsive images
	max-width: 100%; //-# make elements responsive, will scale down with container
}

//==fonts
//--base
@mixin font-base{
	font-family: getFont(base);
	font-weight: 400;
	font-style: none;
}
%font-base{
	@include font-base();
}
%fontsize-base{
	@include fontSize(getFontSize(base));
}

//--bold
@mixin font-bold{
	@include font-base();
	//-! font-family: getFont(bold);
	font-weight: 700;
}
%font-bold{
	@include font-bold();
}

//--italic
@mixin font-italic{
	@include font-base();
	//-! font-family: getFont(italic);
	font-style: italic;
}
%font-italic{
	@include font-italic();
}

//--bold italic
@mixin font-boldItalic{
	@include font-bold();
	@include font-italic();
	//-! font-family: getFont(boldItalic);
}
%font-boldItalic{
	@include font-boldItalic();
}

//--heading
@mixin font-heading{
	@extend %font-bold;
	//-! font-family: getFont(heading);
}
%font-heading{
	@include font-heading();
}
