//==root styles
body, td, th{
	@extend %font-base;
	@extend %fontsize-base;
	color: $color-baseText;
	line-height: 1.45;
}
html{
	background: $color-baseBG;
	font-size: 62.5%; //-# sets document base font size to 10px with browser defaults, making one rem equal 10 px for easier rem math.  Will automatically scale with user configured default font size.
}

//==element modules
*{
	box-sizing: border-box;
}
a{
	color: $color-link;
	margin: 0;
	&:focus,&:hover{
		color: $color-linkFocus;
	}
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
	@extend %block;
	@extend %font-heading;
	color: $color-heading;

	a{
		color: inherit;
	}
}
h1,.h1{
	@include fontSize($fontsize-h1);
}
h2,.h2{
	@include fontSize($fontsize-h2);
}
h3,.h3{
	@include fontSize($fontsize-h3);
}
h4,.h4{
	@include fontSize($fontsize-h4);
}
h5,.h5{
	@include fontSize($fontsize-h5);
}
h6,.h6{
	@include fontSize($fontsize-h6);
}
iframe, object{
	@extend %responsive;
	border: none;
}
img{
	@extend %responsive;
	border: 0; //-# ensure images in links don't get borders in some browsers
}
input, select, td, textarea, th{
	font-size: 1em;
}
input, select, textarea{
	@extend %responsive;
}
p{
	@extend %block;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
table
,td
,th
,tr
{
	margin: 0;
	padding: 0;
}
