/*
Mixin: mq
Simplifies defining media queries for most cases.

*/
$default-mqDevice: 'screen' !default; //-# default device for `mq` mixin when none are specified
$default-mqFeature: 'max-width' !default; //-# default 'feature' for `mq` mixin when none are specified
@mixin mq($query){
	//--if passed a number, turn it into a default query
	@if type-of($query) == 'number'{
		$number: 0;
		@if unitless($query){
			$number: #{$query}em; //-# use em units if none are provided
		}@else{
			$number: $query;
		}
		$query: $default-mqDevice + " and " + "(" + $default-mqFeature + ":" + $number + ")";
	}
	@if $query{
		@media #{$query}{ @content; }
	}
}
