//--base
@mixin font-base{
	font-family: map-get($fontFamilies, base);
	font-weight: 400;
	font-style: none;
}
%font-base{
	@include font-base();
}
%fontsize-base{
	@include fontSize(map-get($fontSizes, base));
}

//--bold
@mixin font-bold{
	@include font-base();
	//-! font-family: map-get($fontFamilies, bold);
	font-weight: 700;
}
%font-bold{
	@include font-bold();
}

//--italic
@mixin font-italic{
	@include font-base();
	//-! font-family: map-get($fontFamilies, italic);
	font-style: italic;
}
%font-italic{
	@include font-italic();
}

//--bold italic
@mixin font-boldItalic{
	@include font-bold();
	@include font-italic();
	//-! font-family: map-get($fontFamilies, boldItalic);
}
%font-boldItalic{
	@include font-boldItalic();
}

//--heading
@mixin font-heading{
	@extend %font-bold;
	//-! font-family: map-get($fontFamilies, heading);
}
%font-heading{
	@include font-heading();
}
